<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button class="btn btn-light" routerLink="/">Return to main</button>
  </div>

  <div class="info">
    <strong>Autor</strong>
    <small>13.09.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies,
      lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Itaque earum rerum hic tenetur a sapiente
      delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
      repellat.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies,
      lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Itaque earum rerum hic tenetur a sapiente
      delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
      repellat.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies,
      lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Itaque earum rerum hic tenetur a sapiente
      delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
      repellat.</p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer rutrum, orci vestibulum ullamcorper ultricies,
      lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Itaque earum rerum hic tenetur a sapiente
      delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
      repellat.</p>
  </div>
</div>
